<%= provide(:title, 'New Song') %>
<div class="row">

  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Album Dashboard", album_dashboard_url %>
        <span class="divider">/</span>
      </li>
      <li>
        <%= link_to @album.title, album_songs_path(@album.user_id, @album) %>
        <span class="divider">/</span>
      </li>
      <li class="active">New Song</li>
    </ul>

    <div class="well">

      <%= render 'form' %>

    </div>
  </div>
</div>
