<%= provide(:title, 'Edit Video') %>
<div class="row">
  <div class="span6 offset3">
    <ul class="breadcrumb">
      <li>
        <%= link_to "Video Dashboard", video_dashboard_url %>
        <span class="divider">/</span>
      </li>


      <li class="active">Edit Video</li>
    </ul>
    <div class="well">
      <%= link_to "Delete Video".html_safe, youtube_url(@youtube), :class => "btn btn-danger btn-mini pull-right", :confirm => "Are you sure you want to delete this video?", :method => :delete %>

	  <%= render 'edit_form' %>

    </div>
  </div>
</div>
