<div class="row">
	<div class="span4">
		<iframe width="100%" height="315" src="http://www.youtube.com/embed/<%= @youtube.youtube_url %>" frameborder="0" allowfullscreen></iframe>
		<div class="well">
			<h4 class="hb"><%= @youtube.title %></h4>
			<p><%= @youtube.about %></p>

			<h6>Uploaded by</h6>
			<p><a href="#">Cody</a></p>
			<h6>Uploaded at <%= @youtube.created_at %></h6>
		</div>
	</div>
	<div class="span8">
		<h4 class="hb"><i class="icon-comments"></i> Comments</h4>
		<blockquote>
			<p>Hello</p>
			<small>by <a href="#">Cody</a></small>
		</bockquote>

	</div>
</div>