<hr>
<footer>
  <div class="row">
	<div class="span4" style="text-align:center;">
	  <h1>&copy; Mozapolis 2012</h1>

	  <p>All Rights Reserved. <br/>
	    Questions, Suggestions, Bugs? <br/>
	    <%= link_to "Let us know", root_path %>
	  </p>
	</div>
	<div class="span2">
	  <h4>On The Web</h4>
	  <ul>
	    <li class="icon-facebook-sign"><a href="#">Facebook</a></li>
	    <li class="icon-twitter-sign"><a href="#">Twitter</a></li>
	    <li class="icon-github-sign"><a href="#">Github</a></li>
	    <li class="icon-lemon"><a href="#">Blog</a></li>
	  </ul>
	</div>
	<div class="span2">
	  <h4>Helpful Links</h4>
	  <ul>
	    <li class="icon-info-sign"><a href="#">About</a></li>
	    <li class="icon-asterisk"><a href="#">Getting Started</a></li>
	    <li class="icon-user"><a href="#">Team</a></li>
	    <li class="icon-question-sign"><a href="#">FAQ</a></li>
	  </ul>
	</div>
	<div class="span2">
	  <h4>Browse</h4>
	  <ul>
	    <li class="icon-bar-chart"><a href="#">Charts</a></li>
	    <li class="icon-pushpin"><a href="#">Featured</a></li>
	    <li class="icon-star"><a href="#">New Artists</a></li>
	    <li class="icon-headphones"><a href="#">New Songs</a></li>
	  </ul>
	</div>
	<div class="span2">
	  <h4>Resources</h4>
	  <ul>
	    <li class="icon-eye-open"><a href="#">Privacy Policy</a></li>
	    <li class="icon-list"><a href="#">Terms of Service</a></li>
	    <li class="icon-book"><a href="#">Legal</a></li>
	    <li class="icon-flag"><a href="#">Copyright Info</a></li>
	  </ul>
	</div>
</footer>